<a href="https://colab.research.google.com/github/Shuaib11-Github/Important-concepts/blob/main/work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd
import numpy as np

In [150]:
df = pd.read_csv('/content/enrollmentsNewPortal.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        __v  ...                 updatedAt
0       0.0  ...  2020-06-06T17:25:51.349Z
1       0.0  ...  2020-06-07T04:36:50.104Z
2       0.0  ...  2020-06-07T05:03:12.878Z
3       0.0  ...  2020-06-07T06:43:15.384Z
4       0.0  ...  2020-06-07T07:12:46.159Z
...     ...  ...                       ...
176587  0.0  ...  2021-07-09T14:24:51.980Z
176588  0.0  ...  2021-07-10T12:38:58.155Z
176589  0.0  ...  2021-07-12T08:14:14.916Z
176590  0.0  ...  2021-07-10T14:25:30.536Z
176591  0.0  ...  2021-07-11T15:28:16.446Z

[176592 rows x 18 columns]

In [151]:
df['skillData.skills'].isnull().sum()

5

In [157]:
sum = 0
for i in df['skillData.skills'][df['skillData.skills'].notnull()].values:
  if '[]' in i:
    sum +=1
print(sum)

6

In [145]:
df['skillData.skills'] = df['skillData.skills'].replace('[]',np.nan)
df['skillData.skills']

0         ["poultry farmer"]
1           ["dairy farmer"]
2                 ["others"]
3                 ["welder"]
4             ["accountant"]
                 ...
176587                   NaN
176588                   NaN
176589       ["agriculture"]
176590                   NaN
176591                   NaN
Name: skillData.skills, Length: 176592, dtype: object

In [146]:
df['skillData.skills'].isnull().sum()

11

In [158]:
df1 = df['skillData.skills'][df['skillData.skills'].notnull()]
df2 = df['skillData.skills'][df['skillData.skills'].isnull()]
df3 = pd.concat([df1,df2],ignore_index=True)
df3

0         ["poultry farmer"]
1           ["dairy farmer"]
2                 ["others"]
3                 ["welder"]
4             ["accountant"]
                 ...
176587                   NaN
176588                   NaN
176589                   NaN
176590                   NaN
176591                   NaN
Name: skillData.skills, Length: 176592, dtype: object